:root {
    --r-block-margin: 8px;
    --r-heading1-size: 3rem;
    --r-heading2-size: 2rem;
    --r-heading3-size: 1.5rem;
    --r-heading4-size: 1rem;
    padding: 4px;
}
h4 {
    --r-heading-margin: 0;
    text-align: left;
}
p { font-size: .85rem; }
.flavor {
    font-style: italic;
}
.tableSection {
    max-height: 250px;
    overflow: auto;
}
table {
    margin: 0 !important;
    width: 390px;
}
tbody {
    background-color: rgb(250, 235, 215, .3);
}
thead {
    background-color: rgb(250, 235, 215, .5);
}
thead td { 
    font-size: .8rem;
}
tbody td { 
    font-size: 1rem;
}
.backgrounds {
    filter: grayscale(40%);
    filter: brightness(30%);
}
.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header {
    text-align: left;
}
h3.name {
    margin-top: 16px;
    margin-bottom: 4px;
    overflow: visible;
    word-break: keep-all;
    word-wrap: normal;
}
.aos-profile {
    float: right;
    position: relative;
    z-index: -1;
    margin: -15px 2px 0px -10px;
    font-size: .47em;
    color: black;
    background-image: url("/aos_profile_small.png");
    background-repeat: no-repeat;
    background-size: cover;
    flex: 0 0 auto;
    width: 130px;
    height: 130px;
}
.aos-profile > * {
    position: absolute;
}
.img-crop {
    float: left;
    margin: 0 10px 0 4px;
    height: 200px;
    width: 76px;
    overflow: hidden;
    filter: drop-shadow(2px 4px 6px grey);
}
.img-crop img {
    margin: 0;
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    transform: scale(1.1);
}
.img {
    float: left;
    margin: 0 10px 0 4px;
    filter: drop-shadow(2px 4px 6px grey);
    height: 200px;
    width: 76px;
    background-position: center center;
    background-repeat: no-repeat;
    color: transparent;
    background-clip: text;
}
.abilities {
    max-height: 200px;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
}
.ability-card {
    background-color: rgba(128, 118, 107, 0.8);
    margin: 4px;
    margin-right: 12px;
    padding: 8px;
    border-radius: 6px;
    color: white;
    flex: 0 0 35%;
    text-align: left;
}
.ability-card p {
    max-height: 80%;
    overflow: auto;
}
.phase-section {
    overflow: auto;
    max-height: 98vh;
    text-align: left;
}
.phase-ability {
    margin-bottom: 32px;
}